<div class="center">
    <section id="content">
        <h1 class="sub-header">Edit Article</h1>

        <!-- #NombreVariable -->
        <form class="mid-form" #editArticleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Change article title</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required>

                <small *ngIf="!title.valid && title.touched">
                    The title is not valid
                </small>
            </div>

            <div class="form-group">
                <label for="content">Change article content</label>
                <textarea type="text" name="content" #content="ngModel" [(ngModel)]="article.content"
                    required></textarea>
                <small *ngIf="!content.valid && content.touched">
                    The content is not valid
                </small>
            </div>

            <label for="image" class="article-set-image">Change article image:</label>
            <div class="image-edit">
                <img src="{{url + 'get-image/' + article.image}}" alt="{{article.title}}" *ngIf="article.image" />
                <img src="../../../assets/img/image.png" alt="{{article.title}}" *ngIf="!article.image" />
            </div>

            <div class="form-group" class="article-set-image">
                <angular-file-uploader [config]='afuConfig' (ApiResponse)="imageChange($event)" ></angular-file-uploader>
            </div>

            <div class="clearfix"></div>

            <input type="submit" class="btn-success" value="Save" [disabled]="editArticleForm.invalid">
        </form>
    </section>



    <app-sidebar></app-sidebar>
</div>